@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-bg: #36393f;
    --dark-server-list: #202225;
    --server-divider: #2d2f32;
    --blurple: #7289da;
    --dark-blurple: #4d5e94;
    --green: #43b581;
    --dark-primary: #2f3136;
    --text-gray: #dcddde;
    --user-box: #292B2F;
    --iconColor: #b9bbbe;
    --red: #dd4444;
}

:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(236, 64, 122)
/*   --g1: rgb(114, 137, 218);
  --g2: rgb(77, 94, 148);
  --g3: rgb(236, 64, 122) */
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

body.toggled {
  animation: none;
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 3;
}

#title > .fancy {
  color: var(--g3);
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  line-height: 0.9em;
}

#icon {
  color: rgba(255, 255, 255, 0.15);
  font-size: 80vmin;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 1;
}


/* Start of DiscordUI */


body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.rootDiv {
    display: grid;
    grid-template-columns: 0px 70px 300px;
    grid-template-rows: auto;
}

.servers {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 3;
    position: absolute;
    width: 70px;
    height: 100%;
    background-color: var(--dark-server-list);
    overflow-y: auto;
    scrollbar-width: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.servers::-webkit-scrollbar, .nav::-webkit-scrollbar {
    width: 0px;
}


.homebutton {
    position: relative;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.server {
    position: relative;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    cursor: pointer;
    transition: 0.2s;
}

.server img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    user-select: none;
}

.homebutton img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    user-select: none;
}

.invite {
    color: var(--green) !important;
    font-size: 48px;
}

.invite:hover {
    color: #FFFFFF !important;
    background-color: var(--green) !important;
}

.server-active, .server:hover {
    background-color: var(--blurple);
    border-radius: 30%;
    transition: 0.3s;
}

.server img:hover {
    border-radius: 30%;
    transition: 0.3s;
}

.homebutton:hover {
    background-color: var(--blurple);
    border-radius: 30%;
    transition: 0.3s;
}

.server-divider {
    margin-top: 7px;
    width: 50%;
    background-color: var(--server-divider);
    height: 3px;
    border: none;
    border-radius: 15px;
}

.side-bar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
    float:right;
    width: 80%;
    height: 100vh;
    background-color: var(--dark-primary);
}
.nav {
    overflow-y: auto;
}

.navGuildItems {
    display: flex;
    justify-content: space-between;
}

.guild-opener {
    height: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.navguild {
    border-bottom: 1px solid var(--dark-server-list);
}

.guildDropdown {
    margin-right: 43px;
}
.userBox {
    position: absolute;
    bottom: 0;
    background-color: var(--user-box);
    width: 100%;
    height: 53px;
    margin-bottom: 0;
    display: flex;
}

.userAvatar {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.userAvatar:hover {
    background-color: #000000;
    opacity: 0.8;
}

.userinfo {
    margin-left: 55px;
    margin-top: 10px;
    cursor: pointer;
}

.username {
    display: block !important;
    margin: 0;
    font-weight: bolder;
}

.discriminator {
    display: block !important;
    margin: 0;
    font-weight: lighter;
    color: var(--text-gray);
}

.guildSelectorName {
    position: relative;
    height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.usermenuicons {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.mic, .headphone, .settings {
    padding: 3px;
    user-select: none;
    cursor: pointer;
}

.mic svg, .headphone svg, .settings svg {
    height: 20px;
    width: 20px;
    fill: var(--iconColor);
}

.mic:hover, .headphone:hover, .settings:hover {
    background-color: var(--dark-bg);
}

.icon-strikethrough {
    fill: var(--red);
}
